<a href="https://colab.research.google.com/github/Job-Jagongo/Week3-IP/blob/master/Copy_of_Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#Import numpy into our notebook
import numpy as np 
#Importing pandas into our notebook
import pandas as pd

#Reading the three csv files
df = pd.read_csv('cells_geo.csv')
df

     ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0     0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1     1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2     2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3     3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4     4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
...                                                 ...
3969  3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970  3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971  3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972  3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973  3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...

[3974 rows x 1 columns]

In [0]:
df1 = pd.read_csv('Telcom_dataset.csv')
df2 = pd.read_csv('Telcom_dataset2.csv')
df3 = pd.read_csv('Telcom_dataset3.csv')

In [27]:
#Determining the shape of the data
df.shape

(3974, 1)

In [28]:
df1.shape

(5001, 10)

In [29]:
df2.shape

(5001, 10)

In [30]:
df3.shape

(5001, 10)

In [23]:
#Cleaning the data by detecting and sorting missing values. The rows with missing values are removed from the datasets
df.dropna()

     ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0     0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1     1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2     2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3     3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4     4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
...                                                 ...
3969  3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970  3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971  3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972  3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973  3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...

[3974 rows x 1 columns]

In [24]:
df1.dropna()

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[4285 rows x 10 columns]

In [25]:
df2.dropna()

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[4325 rows x 10 columns]

In [26]:
df3.dropna()

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4396 rows x 10 columns]

In [0]:
#Merge the csv files
merge = pd.concat([df,df1,df2,df3],axis=1)

In [40]:
#Obtain the shape of the merged dataset
merge.shape

(5001, 31)

In [43]:
#Obtain frequency distribution
import collections
collections.Counter(merge)

Counter({';VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE': 1,
         'CELLID': 1,
         'CELL_ID': 2,
         'CELL_ON_SITE': 3,
         'COUNTRY_A': 3,
         'COUNTRY_B': 3,
         'DATETIME': 1,
         'DATE_TIME': 2,
         'DW_A_NUMBER': 1,
         'DW_A_NUMBER_INT': 2,
         'DW_B_NUMBER': 1,
         'DW_B_NUMBER_INT': 2,
         'PRODUCT': 2,
         'PRODUTC': 1,
         'SIET_ID': 1,
         'SITE_ID': 2,
         'VALUE': 3})

In [49]:
#sum of the columns
df.describe(1)

TypeError: ignored